@import "../../scss/theme";
.userList{
    display: flex;
    flex-direction: column;
    // height: 60vh;
}
.listHeader{
    display: flex;
    flex-direction: row;
    background-color: $primaryLight;
    .email{
        width: 50rem;
        font-size: 16px;
        text-align: start;
        color: $themeWhite;
        margin: 1rem;
        font-weight: 900;   
    }
    .name{
        width: 45rem;
        font-size: 16px;
        margin: 1rem;
        color: $themeWhite;
        font-weight: 900;
    }
    .code{
        width: 20rem;
        font-size: 16px;
        color: $themeWhite;
        margin: 1rem;
        text-align: center;
        font-weight: 900;
    }
    .status{
        width: 20rem;
        font-size: 16px;
        color: $themeWhite;;
        margin: 1rem;
        font-weight: 900;
    }
}
.body{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2rem;
    .email{
        width: 50rem;
        font-size: 16px;
        margin: 1rem;
        font-weight: 500;
    }
    .name{
        width: 45rem;
        font-size: 16px;
        margin: 1rem;
        font-weight: 500;
    }
    .code{
        width: 20rem;
        font-size: 16px;
        margin: 1rem;
        font-weight: 500;
        text-align: center;
    }
    .status{
        width: 20rem;
        font-size: 16px;
        margin: 1rem;
        font-weight: 500;
    }
}