@import "../../scss/theme";
.header{
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    align-items: center;
    span{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 0 0 10px;
        // border-radius: 1rem;
        input{
            margin: 20px;
            height: 2rem;
            width: 20rem;
            background-color:$themeWhite;
        }
    }
    .filter{
        font-size: 1.5rem;
        color:$black;
        padding:5px;
        cursor: pointer;
        &:hover{
            border-radius: 2rem;
            background-color:$shadow-lightgrey;
        }
    }
    .viewSelector{
        display: flex;
        flex-direction: row;
        align-items: center;
        p{
            display: flex;
            margin: 5px;
            border-radius: 15px;
            padding: 10px;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover{
                box-shadow: 1px 1px 5px 5px $gray87;
            }
        }
        p:last-of-type{
            background-color: $btnGreen;
            color: $themeWhite;
            font-weight: 600;
        }
        p:first-of-type{
            // background: linear-gradient(0deg, #56c4ff, #0982c6, #56c4ff);
            background-color: $themeWhite;
            color:$black;
            font-weight: 600;
        }
    }
}
