.main {
  display: flex;
  flex-direction: column;
  width: 12rem;
  margin: 10px;
  padding: 5px;
  background-color: #fff;
  background-image: url("https://t4.ftcdn.net/jpg/02/86/02/71/360_F_286027159_YL5SOlxRF6vqeaTYMsuo3xf1tcUXnAyB.jpg");
  // border-radius:10rem 10rem 0 0;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: 1px 1px 5px 5px rgb(184, 183, 183);
  .image {
    padding: 1rem;
    img {
      border-radius: 10rem;
      object-fit: cover;
      height: 6rem;
      width: 6rem;
    }
  }
  &:hover {
    // background: linear-gradient(20deg, #56c4ff, #0982c6, #56c4ff);
    box-shadow: 1px 1px 5px 5px #0982c6;
    color: white;
    .image {
      padding: 0px;
      img {
        border-radius: 0px;
        object-fit: cover;
        height: 8rem;
        width: 12rem;
        // border-radius:10rem 10rem 0 0;
      }
    }
  }
}
.description {
  margin: auto;
  width: 11rem;
  background-color: #fff;
  color: black;
  border-radius: 0 0 15px 15px;
  padding: 0 0 0 1rem;
}
