@import "../../scss/theme";
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 90%;
    // min-width: 120px;
    margin: 10px;
    border: 1px solid $grey4;
    background-color: $white;
    box-shadow: 0 2px 6px $shadow;
    border-radius: 4px;
    img {
      margin-top: 5px;
      width: 4vw;
      height: 4vw;
      border-radius: 5rem;
      border: 2px solid $primaryDark;
      object-fit: cover;
    }
}
    .text {
        display:flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        width:80%;
        color: $black;
        font-weight: 550;
        line-height: 10px;
        // padding: 0 10px;
  
    p:nth-child(1){
      font-size: 18px;
      font-weight: 500;
    }
  
    p:nth-child(2) {
      font-size: 14px;
      margin: 0;
      line-height: 8px;
    }
    span{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding:2px;
      p{
      font-size: 14px !important;
      text-align: left;
      }
      img{
        width: 20px;
        height: 20px;
      }
    }
  }

  