@import "../../scss/theme";
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 10vw;
    height: 15vh;
    // min-width: 120px;
    margin: 10px;
    border: 1px solid $grey2;
    background-color: $grey2;
    box-shadow: 0 2px 4px $shadow;
    border-radius: 4px;
    overflow: hidden;
    .image {
      margin-top: 5px;
      width: 50%;
      height: 50%;
      border-radius: 5rem;
      object-fit: cover;
    }
  
    .text {
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 90%;
        height: 100%;
        color: $black;
        font-weight: 550;
  
    .title {
      font-size: 18px;
      font-weight: 500;
      line-height: 5px;
    }
  
    .subtitle {
      font-size: 12px;
      line-height: 5px;
      margin: 0;
    }
  }
}
  